<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/contacto.css">
    <script src="https://kit.fontawesome.com/fb993fc4c6.js" crossorigin="anonymous"></script>
    <title>CV | Edwar Rojas</title>
</head>

<body>
    <div class="cv">
        <div class="decoracion">

        </div>
        <%-include('template/Header'); %>

            <div class="info">

                <h2>Contacto</h2>
            </div><br>

            <div class="info2">

                <div class="face">
                    <a href="https://www.facebook.com/edwardanielsmith.rojascolorado.1"><i
                            class="fa-brands fa-facebook"></i></a>
                </div>

                <div class="whats">
                    <a href="https://web.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a>
                </div>

                <div class="mail">
                    <a href="mailto: edrojas843@misena.edu.co"><i class="fa-solid fa-envelope"></i></a>
                </div>

                <div class="daticos">
                    <i class="fa-solid fa-phone"> +57 3235647223</i><br><br>
                    <i class="fa-solid fa-location-dot"> Cl. 52 #13 65, BogotÁ</i>
                </div>

            </div>
    </div>
</body>

</html>