<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style_informacion.css">
    <title>Info</title>
</head>

<body>

    <div>

        <div class="cv">

            <div class="info3">
                <h2>Perfil Personal</h2>
            </div><br>

            <div class="info2">
                <p>Con actitudes como respeto, liderazgo, trabajo colaborativo, persona
                    organizada, honesta y responsable con su trabajo. En constante búsqueda de
                    sus metas y proyectos buscando crecer cada día, manteniendo una actitud
                    colaboradora y amable para un mejor desempeño laboral.</p>
            </div>

            <div class="info3">
                <h2>Formacion acedemica</h2>
            </div><br>

            <div class="info2">
                <p><b>Basica Primaria:</b> Colegio Juan Luis Londoño I.E.D La salle</p>
                <p><b>Basica Secundaria:</b> Colegio Juan Luis Londoño I.E.D La salle</p>
                <p><b>Bachiller:</b> Colegio Juan Luis Londoño I.E.D La salle</p>
            </div>

            <div class="info3">
                <h2>Experiencia Laboral</h2>
            </div><br>

            <div class="info2">
                <p><b>Nombre de la empresa: </b>Grupo RV S.A.S</p>
                <p><b>Cargo: </b>Transportadora</p>
                <p><b>Jefe Inmediato </b>Desonocido</p>
                <p><b>Celular: </b> 3555555555</p>
                <p><b>Dirección: </b> Carrera 77 Nº 37 - 18 sur</p>
            </div>

            <div class="info3">
                <h2>Referencia Familiar</h2>
            </div><br>

            <div class="info2">
                <p><b>Nombre del familiar: </b>Reinaldo Rojas</p>
                <p><b>Cargo y/o profesión: </b>Maestro de obra</p>
                <p><b>Cel: </b>3208081310</p>
            </div>

            <div class="info3">
                <h2>Referencia Personal</h2>
            </div><br>

            <div class="info2">
                <p><b>Nombre</b>Richar Dayson Hincapie Hidalgo</p>
                <p><b>Cargo y/o profesión: </b>Ingeniero mecanico</p>
                <p><b>Cel: </b>3555555555</p>
            </div>
        </div>
</body>

</html>