body {
  background-color: rgba(202, 193, 193, 0.993);
}

* {
  margin: 0;
  padding: 0;
  /* border: solid red 1px; */
}

@media only screen and (min-width: 1024px) {
  .cv {
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 1%;
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
  }

  .cv .decoracion {
    position: absolute;
    background-color: rgba(0, 44, 65, 255);
    width: 20%;
    height: 63%;
    z-index: 0;
    border-radius: 5px;
  }

  .cv .curriculum .texto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .cv .curriculum .texto .textos {
    padding: 2%;
  }

  .cv .curriculum .texto .enlaces i {
    color: black;
    font-size: 2em;
  }

  .cv .curriculum .texto .enlaces .enlace1,
  .enlace2 {
    margin-left: 10%;
  }

  .cv .curriculum .texto .enlaces .enlace3 {
    margin-right: 20%;
    margin-left: 10%;
  }

  .cv .curriculum .texto .enlaces {
    color: black;
    font-size: 1em;
    display: flex;
    align-items: center;
  }

  .cv .curriculum .texto .textos .titulo {
    font-size: 3em;
  }

  .cv .curriculum .texto .textos .subtitulo {
    font-size: 1.5em;
    color: white;
  }

  .cv .texto {
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
    background-color: rgba(254, 189, 23, 255);
    height: 180px;
  }

  .cv .curriculum {
    border-radius: 5px;
    position: relative;
    z-index: 1;
  }

  .cv .texto p {
    width: 20%;
  }

  .cv .curriculum img {
    float: right;
    /* margin-top: -3.8%; */
    width: 13%;
    height: 180px;
    display: block;
  }

  .cv .info {
    margin-top: 10%;
    border: solid black 0.5px;
    margin-left: 3%;
    margin-right: 3%;
    padding: 5px;
    position: relative;
    z-index: 1;
  }

  .cv .info2 {
    padding-left: 30%;
  }

  .cv .info2 .daticos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 12%;
  }

  .cv .info2 .daticos i {
    font-size: 1.05em;
  }

  .cv .info2 .face,
  .whats,
  .mail {
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    font-size: 2em;
  }

  .cv .info2 .face a,
  .whats a,
  .mail a {
    padding-left: 26%;
    padding-right: 5%;
    font-size: 2em;
    text-decoration: none;
    color: black;
  }

  .curriculum .texto .enlaces h3,
  .enlace1 h3 {
    font-size: 1.4em;
  }
}

@media only screen and (min-width: 320px) {
  .cv {
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 1%;
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
  }

  .decoracion {
    position: absolute;
    background-color: rgba(0, 44, 65, 255);
    width: 20%;
    height: 8%;
    z-index: 0;
    border-radius: 5px;
  }

  .cv .curriculum {
    border-radius: 5px;
    position: relative;
    z-index: 1;
  }

  .cu .curriculum .texto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .cv .texto {
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
    background-color: rgba(254, 189, 23, 255);
    height: 180px;
    padding: 2%;
  }

  .cv .texto p {
    width: 20%;
  }

  .curriculum img {
    float: right;
    /* margin-top: -3.8%; */
    width: 20%;
    height: 100px;
  }

  .cv .info {
    margin-top: 2%;
    border: solid black 0.5px;
    margin-left: 24%;
    margin-right: 3%;
    padding: 5px;
  }

  .cv .info2 {
    display: flex;
    flex-wrap: wrap;
  }

  .curriculum .texto .enlaces i {
    color: black;
    font-size: 1em;
  }

  .curriculum .texto .enlaces .enlace1,
  .enlace2 {
    margin-left: 10%;
  }

  .curriculum .texto .enlaces .enlace3 {
    margin-right: 20%;
    margin-left: 10%;
  }

  .curriculum .texto .enlaces {
    color: black;
    font-size: 1em;
    display: flex;
    align-items: center;
  }

  .texto .enlace1 h3,
  .enlace2 h3,
  .enlace3 h3 {
    font-size: 0.8em;
  }

  .curriculum .texto .textos .titulo {
    font-size: 3em;
  }

  .curriculum .texto .textos .subtitulo {
    font-size: 1.5em;
    color: white;
  }

  .info2 .daticos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 12%;
  }

  .info2 .daticos i {
    font-size: 0.5em;
  }
  .cv .info2 {
    margin-left: 2%;
  }

  .cv .info2 .face1,
  .whats1,
  .mail1 {
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    z-index: 1;
    font-size: 3em;
  }

  .cv .info2 .face1 a,
  .whats1 a,
  .mail1 a {
    padding-left: 26%;
    padding-right: 5%;
    font-size: 1em;
    text-decoration: none;
  }

  /* {
    padding-left: 26%;
    padding-right: 5%;
    font-size: 3em;
    text-decoration: none;
    color: black;
  } */
}
