
<body>
    <div class="curriculum">

        <div class="texto">
            <h1><%=titulo%></H1>
            <h3><%=subtitulo%></h3>  
                    
            <a href="/informacion"><i class="fa-solid fa-address-card"><p>Informacion</p></i></a>
            <a href="/contacto"><i class="fa-solid fa-address-book"><p>Contacto</p></i></a>
            <img class="foto" src="img/Foto.jpg" alt="foto">
        </div>
       

    </div>
    
</body>
</html>